
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      // Allow write access only to a specific admin UID.
      // This is more secure than allowing any signed-in user.
      return request.auth != null && request.auth.uid == "EjBWKAzrRLeMuEt4ipJYXFEjnot2";
    }

    match /products/{productId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /blogPosts/{docId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null && request.auth.uid == "EjBWKAzrRLeMuEt4ipJYXFEjnot2";
    }

    match /avocadoExportData/{avocadoExportDataId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /qualityCertifications/{qualityCertificationId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /avocadoVarieties/{avocadoVarietyId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /clientTestimonials/{clientTestimonialId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /partners/{partnerId} {
      allow get. list: if true;
      allow create, update, delete: if false;
    }

    match /contactInformation/{contactInformationId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }
  }
}
