
@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

@keyframes scroll-background {
  0% { background-position: 0 0; }
  100% { background-position: 96px 96px; }
}

.animate-scroll-background {
  animation: scroll-background 20s linear infinite;
}
