@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 50 43% 97%;
    --foreground: 0 0% 17%;
    --card: 50 43% 97%;
    --card-foreground: 0 0% 17%;
    --popover: 50 43% 97%;
    --popover-foreground: 0 0% 17%;
    --primary: 88 92% 30%;
    --primary-foreground: 88 90% 95%;
    --secondary: 50 20% 90%;
    --secondary-foreground: 0 0% 17%;
    --muted: 50 20% 90%;
    --muted-foreground: 240 5.9% 65.1%;
    --accent: 80 29% 64%;
    --accent-foreground: 0 0% 17%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 50 20% 85%;
    --input: 50 20% 85%;
    --ring: 88 92% 30%;
    --radius: 0.5rem;
    --brand: 88 92% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}