.track-shipment-container {
  position: relative;
  height: 50vh; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  overflow: hidden;
  padding: 30px; 
}

.background-video {
  position: fixed;
  top: 0;
  right: 0; /* Align to the top right */
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
  z-index: -1; 
}

.contentTrack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  color: #ffffff;
  max-width: 600px;
}

.titleTrack {
  font-size: 3rem ;
  color: var(--secondColor);
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.descriptionTrack {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: normal;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

/* Button positioning */
.buttonTrack {
  position: absolute;
  top: 50%; /* Center vertically */
  right: 70px; /* Align button to the right */
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: var(--mainColor);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.buttonTrack:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.buttonTrack:hover .icon {
  transform: translate(4px);
}

.buttonTrack:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.buttonTrack::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

/* Image positioning */
.top-right-image {
  position: absolute;
  display: flex;
  top: 120px;
  right: 600px;
  width: 100px; /* Adjust the size as needed */
  height: auto;
  border-radius: 20px;
  z-index: 2; /* Ensure it's above the video */
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}

@media (max-width : 1332px ){
  .top-right-image {
    left: 60%;
  }
}
/* Media Queries */
@media (max-width: 1024px) {
  .track-shipment-container {
    flex-direction: column;
    height: 30vh;
  }

  .buttonTrack {
    top: 60%; /* Adjust for smaller screens */
    right: 30px;
  }

  .contentTrack {
    max-width: 90%;
  }

  .titleTrack {
    font-size: 2.5rem;
  }

  .descriptionTrack {
    font-size: 1rem;
  }

  .top-right-image {
    top: 210px;
    left: 7%;
    border-radius: 50px;
  }
}

@media (max-width: 768px) {
  .track-shipment-container{
    
    height: 30vh;
  }
  .titleTrack {
    font-size: 2rem;
  }

  .descriptionTrack {
    font-size: 0.9rem;
  }

  .buttonTrack {
    font-size: 14px;
    right: 15px;
    top: 80%;
  }

  .top-right-image {
    width: 50px;
    top: 70%;
    left: 50px;
  }
}

@media (max-width: 480px) {
  .titleTrack {
    font-size: 1.5rem;
  }

  .descriptionTrack {
    font-size: 0.8rem;
  }

  .buttonTrack {
    padding-block: 0.4rem;
    padding-inline: 1rem;
    font-size: 13px;
    top: 74%;
  }

  .top-right-image {
    width: 60px;
  }
}
