
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Allow public read access for all files
    match /{allPaths=**} {
      allow read: if true;
    }

    // Allow authenticated users to write to the 'team/' directory
    match /team/{userId}/{allPaths=**} {
      allow write: if request.auth != null;
    }

    // Allow authenticated users to write to the 'products/' directory
    match /products/{productId}/{allPaths=**} {
        allow write: if request.auth != null;
    }
    
    // Allow authenticated users to write to the 'blogs/' directory
    match /blogs/{blogId}/{allPaths=**} {
        allow write: if request.auth != null;
    }

    // Allow authenticated users to write to the 'sustainability/' directory
    match /sustainability/{imageId}/{allPaths=**} {
        allow write: if request.auth != null;
    }

    // Allow authenticated users to write to the 'certifications/' directory
    match /certifications/{certId}/{allPaths=**} {
        allow write: if request.auth != null;
    }

    // Allow authenticated users to write to the 'partners/' directory
    match /partners/{partnerId}/{allPaths=**} {
        allow write: if request.auth != null;
    }
  }
}
